.idea
!.idea/codeStyleSettings.xml
.project
.settings
.classpath
.tern-project
.springBeans
*.iml

hrid-api
hrid-reciever

.tmp
bower_components
node
node_modules
**/webapp/dist

**/generated
target
out
bin
**/*.log

*.swp
.DS_Store


